@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

/* .m {
	border: 2px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: end;
	flex-direction: column;
} */

.round-image {
	width: 300px;
	height: 325px;
	border-radius: 50%;
	object-fit: cover;
}

.design {
	font-family: "Archivo Black", sans-serif;
	font-weight: 700;
	font-size: 40px;
	background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.btn2 {
	border-radius: 20px;
	padding: 10px 25px;
	cursor: pointer;
	color: white;
}

.btn3 {
	background: linear-gradient(270deg, #7708df 10%, #fb15ff 100%);
}

.btn3:hover {
	border: 1px solid white;
	color: white;
}
.btn4 {
	border: 1px solid white;
	background: transparent;
}
.btn4:hover {
	color: #0d0b39;
	background: white;
}

.enlg {
	cursor: pointer;
	transition: 0.4s;
}

.enlg:hover {
	transform: scale(1.07);
}

@media (max-width: 576px) {
	.round-image {
		width: 200px;
		height: 225px;
		border-radius: 50%;
		object-fit: cover;
	}
}
/* @media (max-width: 300px) {
	.section-length {
		height: 100vh;
	}
} */
@media (min-width: 1024px) and (max-width: 1600px) {
	.section-length {
		height: 80vh;
	}
}
